{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Gato 4x4</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <div
      id="main"
      class="d-flex flex-column justify-content-center align-items-center vh-100"
    >
      <div
        id="titulo"
        class="d-flex flex-column justify-content-center align-items-center"
      >
        <h1>Gato 4x4</h1>
        <p>Juguemos un rato</p>
      </div>

      <div id="turnos">
        <div
          id="dosturnos"
          class="d-flex justify-content-center align-items-center"
        >
          <div
            id="turnoIA"
            class="d-flex flex-column justify-content-center align-items-center"
          >
            <p>turno IA</p>
          </div>
          <div
            id="turnoJugador"
            class="gray d-flex flex-column justify-content-center align-items-center"
          >
            <p>turno JUGADOR</p>
          </div>
        </div>
      </div>

      <div id="gato">
        <div class="celda" onclick="marcarCasilla(1,1,this)"></div>
        <div class="celda" onclick="marcarCasilla(1,2,this)"></div>
        <div class="celda" onclick="marcarCasilla(1,3,this)"></div>
        <div class="celda" onclick="marcarCasilla(1,4,this)"></div>

        <div class="celda" onclick="marcarCasilla(2,1,this)"></div>
        <div class="celda" onclick="marcarCasilla(2,2,this)"></div>
        <div class="celda" onclick="marcarCasilla(2,3,this)"></div>
        <div class="celda" onclick="marcarCasilla(2,4,this)"></div>

        <div class="celda" onclick="marcarCasilla(3,1,this)"></div>
        <div class="celda" onclick="marcarCasilla(3,2,this)"></div>
        <div class="celda" onclick="marcarCasilla(3,3,this)"></div>
        <div class="celda" onclick="marcarCasilla(3,4,this)"></div>

        <div class="celda" onclick="marcarCasilla(4,1,this)"></div>
        <div class="celda" onclick="marcarCasilla(4,2,this)"></div>
        <div class="celda" onclick="marcarCasilla(4,3,this)"></div>
        <div class="celda" onclick="marcarCasilla(4,4,this)"></div>
      </div>

    <div class="d-flex justify-content-center gap-3 mt-3">
      <button id="reinicio" class="btn btn-danger" onclick="reiniciar()">
        Reiniciar juego
      </button>
      <button id="start" class="btn btn-success" onclick="reiniciar()">
        Iniciar juego
      </button>
    </div>

    </div>
  </body>

  <script src="{% static 'js/script.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</html>

